#tem-parttime,#post-parttime{
	margin-top: 100px;
}

#tem-parttime .parttime img{
	padding-right: 15px ;
    float: left;
}
/*==================Side Bar==============*/
#tem-parttime .sidebar,#post-parttime .sidebar{
	padding-top: 30px;
}
/*==========Search==========*/
#tem-parttime .search, #post-parttime .search{
	width: 100%
}

#tem-parttime .search input, #post-parttime .search input{
	width: 70%;
    float: left;
    height: auto;
}

#tem-parttime .search button, #post-parttime .search button{
	float: left;
	color: yellow;
	text-transform: uppercase;
	font-weight: bold;
    background-color: rgba(37,66,117,.9);
}


