
/*// Extra large devices (large desktops, 1200px and up)*/
/*xl*/
@media (min-width: 1200px){
	#formButton {
    display: none;
	}
}

@media (max-width: 1199.98px)
{

	#menu_fix .nav-item a {
    font-size: 100%;
	}

	 #formButton {
    border: 0.5px solid blue;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    background-color: #0d5891;
	}

	#formButton span{
		font-size: 4vw;
		font-weight: normal;
	}

	#form1 {
    display: none;
	}

	#top_header .utility {
    font-size: 15px;
	}

	#services .box h4,#services .box p {
    margin-left: 10px;
	}
	#services .box {
    padding: 15px;
    margin-bottom: 20px;
	}
}

/*// Large devices (desktops, 992px and up)*/
/*lg*/


@media (max-width: 991.98px) {

	#staff .con_imgstaff{

	}

	.con_imgstaff .text_cistaff{
		height: 100px;
		overflow: hidden;
	}

	#staff .con_imgstaff h5{
    	font-weight: bold;
	}
	#staff .con_imgstaff p{
    	font-size: 10px ;
    	font-weight: italic;
	}


	.img_intro img {
    width: 35%;
	}
 
}

/*// Medium devices (tablets, 768px and up)*/
 /*md*/

@media (max-width: 767.98px) {
	#services .box h4,#services .box p {
    	margin-left: 30px;

	}
	#services .box h4{
		font-size: 30px;
	}
	#services .box p{
		font-size: 20px;
	}


	.img_intro img {
    width: 15%;
	}
}


/*// Small devices (landscape phones, 576px and up)*/
/*sm*/
@media (max-width: 575.98px) {
	#staff .img_staff
	{
		width: 50%;
    	float: left;
    	padding: 15px;

	}

	#staff .img_staff img{
		height: 150px;
	}
	
}



	
